parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between ''%%'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:customOrder\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Parameter \#1 \$value of static method App\\Enums\\Api\\V1\\Orders\\SortOrders\:\:tryFrom\(\) expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Unable to resolve the template type TWhenReturnType in call to method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:when\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Models/Order.php

		-
			message: '#^Cannot access property \$value on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: app/Services/RedProviderPortal/Clients/MockRedProviderClient.php

		-
			message: '#^Parameter \#1 \$payload of static method App\\Services\\RedProviderPortal\\DTO\\OrderData\:\:fromArray\(\) expects array\<string, string\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: app/Services/RedProviderPortal/Clients/MockRedProviderClient.php

		-
			message: '#^Parameter \#1 \$payload of static method App\\Services\\RedProviderPortal\\DTO\\OrderData\:\:fromList\(\) expects array\<int, array\<string, string\>\>, list\<array\<string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/RedProviderPortal/Clients/MockRedProviderClient.php
